$main-color: #38b6ff;;
$secondary-color: rgba(79, 79, 82, 0.853);
$pure-white: #fff;
$light-white: #fffefe;
$dark: rgba(0, 0, 0, 0.6);
$green-color: #00ffaa;
$green-color-hover: #0fe29c;
$shadow-color:rgb(12, 110, 48);

$light-blue-gradient: linear-gradient(45deg, rgba(2, 4, 49, 0.75), rgba(66, 66, 69, 0.75));
$dark-blue-gradient: linear-gradient(45deg, rgba(2, 4, 49, 0.85), rgba(66, 66, 69, 0.85));
$header-gradient: linear-gradient(45deg, rgba(8, 31, 66, 0.25), rgba(0, 0, 0, 0.2));
$header-gradient2: linear-gradient(45deg, rgba(8, 31, 66, 0.75), rgba(0, 0, 0, 0.7));
$secondary-gradient: linear-gradient(45deg, rgba(14, 27, 47, 0.474), rgba(5, 25, 113, 0.458));
$purple-gradient: linear-gradient(45deg, rgba(190, 10, 214, 0.94), rgba(68, 0, 255, 0.75));
$blue-gradient-solid: linear-gradient(45deg, rgba(10, 38, 98, 0.953), rgb(27, 6, 117));
$light-blue-gradient-solid: radial-gradient(circle at top right, rgb(5, 5, 100) 0%, rgb(20, 20, 20) 60%);