@use '../scss/colors' as *;

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1400px;
}

.section-padding {
	padding: 6em 2em;
}
.section-heading {
	font-size: 2rem;
	letter-spacing: -2px;
	text-align: center;
	font-weight: bold;

	// text-transform: uppercase;
	color: $main-color;
	// width: 500px;
}
.lead {
	text-align: center;
	font-size: 1.4rem;
}
.container {
	margin: 0 auto;
	max-width: 800px;
	display: flex;
	flex-direction: column;
}

.white-section {
	background-color: rgb(232, 230, 230);
}

.white-block {
	position: absolute;
	height: 35px;
	width: 60%;
	background-color: rgb(232, 230, 230);

	&-left {
		bottom: -2px;
		left: -50px;
		transform: skew(45deg);
		&--blue {
			background-color: $main-color;
		}
	}
	&-right {
		top: -2px;
		right: -50px;
		transform: skew(45deg);
	}
}

.hidden {
	opacity: 0;
	transform: translateX(-100%);
	filter: blur(5px);
	transition: all 2s;
}

.show {
	opacity: 1;
	transform: translateX(0);
	filter: blur(0);
}

.swiper-wrapper {
	height: 100%;
	width: 100%;
	display: flex;
}

.swiper-slide {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.swiper-scrollbar {
	bottom: 10px;
	margin-top: 2em;
	background-color: white;
}
.swiper-pagination {
	background-color: white;
}
.swiper-button-next,
.swiper-button-prev {
	display: none;
	color: white;
}

.slide-in-blurred-top {
	-webkit-animation: slide-in-blurred-top 1s cubic-bezier(0.23, 1, 0.32, 1) 0.2s
		both;
	animation: slide-in-blurred-top 1s cubic-bezier(0.23, 1, 0.32, 1) 0.2s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-11 14:41:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-blurred-top {
	0% {
		-webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
		transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);

		-webkit-filter: blur(40px);
		filter: blur(40px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0) scaleY(1) scaleX(1);
		transform: translateY(0) scaleY(1) scaleX(1);

		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}
@keyframes slide-in-blurred-top {
	0% {
		-webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
		transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);

		-webkit-filter: blur(40px);
		filter: blur(40px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0) scaleY(1) scaleX(1);
		transform: translateY(0) scaleY(1) scaleX(1);

		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-11 15:0:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	45% {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
@keyframes heartbeat {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transform-origin: center center;
		transform-origin: center center;
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	10% {
		-webkit-transform: scale(0.91);
		transform: scale(0.91);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	17% {
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	33% {
		-webkit-transform: scale(0.87);
		transform: scale(0.87);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	45% {
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}

.bounce-in-top {
	-webkit-animation: bounce-in-top 2s 0.5s infinite both;
	animation: bounce-in-top 2s 0.5s infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-11 15:4:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
	0% {
		-webkit-transform: translateY(-500px);
		transform: translateY(-500px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55% {
		-webkit-transform: translateY(-65px);
		transform: translateY(-65px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	72% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	81% {
		-webkit-transform: translateY(-28px);
		transform: translateY(-28px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	90% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	95% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
@keyframes bounce-in-top {
	0% {
		-webkit-transform: translateY(-100px);
		transform: translateY(-100px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55% {
		-webkit-transform: translateY(-65px);
		transform: translateY(-65px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	72% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	81% {
		-webkit-transform: translateY(-28px);
		transform: translateY(-28px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	90% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	95% {
		-webkit-transform: translateY(-8px);
		transform: translateY(-8px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}
