@use '../scss/colors' as *;
@use '../scss/components' as *;

body {
	margin: 0 auto;
	padding: 0;

	font-family: 'Noto Serif Display', serif;
	font-family: 'Nunito', sans-serif;
}

.nav {
	// position: relative;
	z-index: 10;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: none;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.7s;
	&_items {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: black;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2em;
	}
	&_item {
		color: #38b6ff;
		text-decoration: none;
		font-size: 1.4rem;
		text-transform: uppercase;
	}
}

.active {
	opacity: 1;
}
.burger-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 20;
	font-size: 36px;
	color: white;
	background: none;
	border: none;
	cursor: pointer;
}

.header {
	overflow: hidden;
	position: relative;
	height: 90vh;
	width: 100%;
	background: $light-blue-gradient,
		url('../img/european-couple-posing-during-pillow-fight-indoor-portrait-laughing-young-people-chilling-living-room\(1\).jpg');
	background-size: cover;
	background-position: top;
	&-logo {
		position: absolute;
		background-image: url('../img/Kamil\ Zielinski.svg');
		height: 300px;
		width: 300px;
		background-position: center;
		background-size: contain;
		width: 300px;
		background-repeat: no-repeat;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.mortgages {
	overflow: hidden;
	position: relative;
	background: $header-gradient, #38b6ff;
	&__heading-container {
		margin: 1em auto;
		padding: 1em;
		display: flex;
		max-width: 1000px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&-heading {
			font-size: 2rem;
		}
		&-lead {
			font-size: 1.2rem;
		}
	}
	&__boxes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1em;
	}
	&__box {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-content: center;
		width: 100%;
		height: 480px;
		margin-bottom: 2em;
		border: 2px solid white;
		padding: 1em;
		border-radius: 15px;

		&-icon {
			text-align: center;
			font-size: 3rem;
			color: white;
			margin-bottom: 0.3em;
		}
		&-heading {
			text-align: center;
			font-size: 1.6rem;
			margin-bottom: 0.3em;
			color: white;
		}
		&-text {
			padding: 1em;
			font-size: 1.4rem;
			margin-bottom: 1em;
		}
		&-btn {
			cursor: pointer;
			position: absolute;
			bottom: 2em;

			align-self: center;
			margin-top: 0.5em;
			border-radius: 8px;
			background-color: white;
			border: none;
			padding: 1em 1.5em;
			transition: all 0.4s;

			a {
				color: #38b6ff;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}
}

.why-us {
	&__boxes {
		margin-top: 1em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1em;
	}
	&__box {
		overflow: hidden;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-content: center;
		background: $header-gradient, #38b6ff;
		width: 80%;
		height: 100%;

		border: 2px solid white;
		padding: 1em;
		border-radius: 15px;
		&-icon {
			text-align: center;
			font-size: 3rem;
			color: white;
			margin-bottom: 0.3em;
		}
		&-heading {
			text-align: center;
			font-size: 1.6rem;
			margin-bottom: 0.3em;
			color: white;
		}
		&-text {
			text-align: center;
			padding: 1em;
			font-size: 1.2rem;
		}
	}
	&-lead {
		font-size: 1.2rem;
		margin: 2em auto;
		text-align: center;
		max-width: 900px;
	}
}
.reviews {
	position: relative;
	overflow: hidden;
	background: $header-gradient2, url('../img/architecture-2256489_1920.jpg');
	background-size: cover;
	&__boxes {
		margin-top: 1em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1em;
	}
	&__box {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-content: center;
		background: $header-gradient, #38b6ff;
		width: 80%;
		height: 100%;

		// border: 2px solid white;
		padding: 1em;
		border-radius: 15px;
		&-img {
			border: 5px solid white;
			align-self: center;
			background-size: cover;
			background-position: center;
			height: 120px;
			width: 120px;
			border-radius: 50%;
			&--one {
				background-image: url('../img/1.jpg');
			}
			&--two {
				background-image: url('../img/2.jpg');
			}
			&--three {
				background-image: url('../img/3.jpg');
			}
		}
		&-text {
			margin-top: 1em;
			padding: 1em;
			color: black;
			text-align: center;
		}
		&-name {
			text-align: center;
			font-weight: bold;
			font-size: 1.2rem;
			color: white;
		}
	}
}

.contact {
	position: relative;
	overflow: hidden;
	background: $header-gradient, #38b6ff;

	.section-heading {
		color: white;
	}
	&__boxes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2em;
	}
	&__box {
		width: 50%;
		margin-top: 5em;
		display: flex;
		flex-direction: column;
		;

		&-info {
			display: flex;
			margin: 2em;
			
			justify-content: space-around;
			align-content: center;

			&-details {
				margin-right: 4em;
				text-align: center;
				color: white;
				&-icon {
					font-size: 2rem;
				}
			}
		}
		&-form {
			width: 80%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			label {
				margin-top: 1em;
				text-transform: uppercase;
				color: white;
				text-align: center;
				// font-size: 1.4rem;
			}
			textarea,
			input {
				border-radius: 8px;
				border: none;
				width: 100%;
			}
			input {
				height: 30px;
			}
			textarea {
				height: 200px;
			}
			button {
				text-transform: uppercase;
				width: 40%;
				margin-top: 1em;
				border: none;
				border-radius: 8px;
				padding: 1em 1.5em;
			}
		}
	}
}

@media (min-width: 767px) {
	.header {
		&-logo {
			height: 500px;
			width: 500px;
		}
	}
	.mortgages {
		&__boxes {
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-evenly;
		}
		&__box {
			width: 40%;
		}
	}
	.why-us {
		&__boxes {
			flex-wrap: wrap;
			flex-direction: row;
		}
		&__box {
			width: 27%;
		}
	}
	.reviews {
		&__boxes {
			flex-wrap: wrap;
			flex-direction: row;
		}
		&__box {
			width: 27%;
		}
	}
	.contact {
		&__boxes {
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-around;
			
		}
		&__box{
			width: 40%;
			&-info{
				flex-direction: column;
				&-details{
					margin: 0.5em;
				}
				
			}
			&-form{
				width: 40%;
			}
			
		}
	}
}

@media (min-width: 992px) {
	.mortgages {
		&__boxes {
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-evenly;
		}
		&__box {
			height: 480px;
			width: 27%;
		}
	}
	.why-us {
		&__box {
			height: 270px;
		}
	}
}

@media (min-width: 1300px) {
	.mortgages {
		&__box {
			height: 430px;
		}
	}
}
