@use '../scss/colors' as *;
@use '../scss/components' as *;

body {
	margin: 0 auto;
	padding: 0;

	font-family: 'Noto Serif Display', serif;
	font-family: 'Nunito', sans-serif;
}

.nav {
	// position: relative;
	z-index: 10;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: none;
	width: 100%;
	height: 100%;
	display: none;
	transition: all 0.7s;
	&_items {
		height: 100%;
		width: 100%;
		background-color: black;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2em;
	}
	&_item {
		color: $viva;
		text-decoration: none;
		font-size: 1.4rem;
		text-transform: uppercase;
	}
}

.active {
	display: block;
	transition: 0.7s;
}
.burger-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 20;
	font-size: 36px;
	color: white;
	background: none;
	border: none;
	cursor: pointer;
}

.header {
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-content: center;
	height: 90vh;
	width: 100%;
	background: $light-blue-gradient,
		url('../img/european-couple-posing-during-pillow-fight-indoor-portrait-laughing-young-people-chilling-living-room\(1\).jpg');
	background-size: cover;
	background-position: top;
	&-logo {
		position: absolute;
		top: 20%;
		background-image: url('../img/housefy.svg');
		height: 300px;
		width: 300px;
		background-position: center;
		background-size: contain;

		background-repeat: no-repeat;
	}
	.arrow {
		position: absolute;
		color: $main-color;
		bottom: 2em;
		font-size: 2.4em;
	}
}

.mortgages {
	hr {
		color: white;
		width: 100%;
	}
	overflow: hidden;
	position: relative;
	background: $header-gradient2, url('../img/shibuyasky-4768679_1920.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	&__heading-container {
		margin: 1em auto;
		padding: 1em;
		display: flex;
		max-width: 1000px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&-heading {
			color: white;
			font-size: 2rem;
		}
		&-lead {
			font-size: 1.4rem;
			color: rgb(232, 230, 230);
		}
	}
	&__boxes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1em;
	}
	&__box {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-content: center;
		width: 90%;
		height: 450px;
		background: $header-gradient, $main-color;
		margin-bottom: 2em;
		border-radius: 8px;
		padding: 1em;

		&-icon {
			margin-top: 0.5em;
			text-align: center;
			font-size: 3rem;
			color: white;
			margin-bottom: 0.3em;
		}
		&-heading {
			text-align: center;
			font-size: 1.6rem;
			margin-bottom: 0.3em;
			color: white;
		}
		&-text {
			position: relative;
			padding: 1em;
			font-size: 1.2rem;
			color: white;
			// margin-bottom: 1em;
		}
		&-btn {
			cursor: pointer;
			margin-top: 2em;
			position: absolute;
			bottom: 0.7em;

			align-self: center;

			border-radius: 8px;
			background-color: white;
			border: none;
			padding: 1em 1.5em;
			transition: opacity 0.4s;
			&:hover {
				opacity: 0.7;
			}

			a {
				color: $main-color;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}
}

.why-us {
	&__boxes {
		margin-top: 1em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1em;
	}
	&__box {
		overflow: hidden;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-content: center;
		background: $header-gradient, $main-color;
		width: 90%;
		height: 100%;

		border: 2px solid white;
		padding: 2.5em 1.5em;
		border-radius: 15px;
		&-icon {
			text-align: center;
			font-size: 3rem;
			color: white;
			margin-bottom: 0.3em;
		}
		&-heading {
			text-align: center;
			font-size: 1.6rem;
			margin-bottom: 0.3em;
			color: white;
		}
		&-text {
			text-align: center;
			padding: 1em;
			font-size: 1.2rem;
			color:rgb(232, 230, 230);
		}
		&-leads {
			margin-top: 2em;
			&-text {
				font-size: 1.4rem;
				margin: 0.5em auto;
				text-align: center;
				max-width: 900px;
				color:$main-color;
			}
		}
	}
}
.reviews {
	padding: 8em 2em;
	position: relative;
	overflow: hidden;
	background: $header-gradient2, url('../img/architecture-2256489_1920.jpg');
	background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	.section-heading {
		color: white;
	}
	&__boxes {
		margin-top: 1em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 3em;
	}
	&__box {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-content: center;
		background: $header-gradient, $main-color;
		width: 90%;
		height: 100%;

		// border: 2px solid white;
		padding: 1em;
		border-radius: 15px;
		&-img {
			border: 5px solid white;
			align-self: center;
			background-size: cover;
			background-position: center;
			height: 120px;
			width: 120px;
			border-radius: 50%;
			&--one {
				background-image: url('../img/1.jpg');
			}
			&--two {
				background-image: url('../img/2.jpg');
			}
			&--three {
				background-image: url('../img/3.jpg');
			}
		}
		&-text {
			margin-top: 1em;
			padding: 1em;
			color: black;
			text-align: center;
		}
		&-name {
			text-align: center;
			font-weight: bold;
			font-size: 1.2rem;
			color: white;
		}
	}
}

.contact {
	position: relative;
	overflow: hidden;
	background: $header-gradient, $main-color;

	.section-heading {
		color: white;
	}
	&__boxes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 2em;
	}
	&__box {
		width: 50%;
		margin-top: 5em;
		display: flex;
		flex-direction: column;
		&-info {
			display: flex;
			// margin: 2em;

			flex-direction: column;
			justify-content: center;
			align-content: center;

			&-details {
				margin-top: 1em;
				text-align: center;
				color: white;
				&-icon {
					font-size: 2rem;
				}
			}
		}
		&-form {
			width: 80%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			label {
				margin-top: 1em;
				text-transform: uppercase;
				color: white;
				text-align: center;
				// font-size: 1.4rem;
			}
			textarea,
			input {
				border-radius: 8px;
				border: none;
				width: 100%;
			}
			input {
				height: 30px;
			}
			textarea {
				height: 200px;
			}
			button {
				text-transform: uppercase;
				width: 40%;
				margin-top: 1em;
				border: none;
				border-radius: 8px;
				padding: 1em 1.5em;
			}
		}
	}
}

.footer {
	background: $header-gradient-blue, url('../img/23485395_44.jpeg');
	background-size: cover;
	background-position: center;
	
	&__boxes {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
	}
	&__box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		&-logo {
			background-image: url('../img/housefy-white.png');
			height: 300px;
			background-position: center;
			background-size: cover;
			width: 300px;
			background-repeat: no-repeat;
			align-self: center;
		}
		&-heading {
			text-align: center;
			color: white;
		}
		&-links {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			justify-content: space-around;
			align-content: center;
			// gap: 4em;
			text-align: center;

			&-services,
			&-about {
				display: flex;
				flex-direction: column;
			}
		}
		&-link {
			display: flex;
			justify-content: center;
			align-content: center;
			padding: 0.5em;
			font-size: 1.2rem;
			cursor: pointer;
			color: white;
			text-decoration: none;
			transition: color 0.4s;
			&:hover {
				color: $main-color;
			}

			i {
				font-size: 1.4rem;
				margin-right: 0.5em;
			}
		}
	}
}

@media (min-width: 576px) {
	.mortgages {
		&__boxes {
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-around;
		}
		&__box {
			padding-bottom: 1em;

			width: 40%;
			&-btn {
				bottom: 2em;
			}
		}
	}
}

@media (min-width: 767px) {
	.header {
		&-logo {
			height: 500px;
			width: 500px;
			top: 5%;
		}
	}
	.mortgages {
		&__boxes {
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-evenly;
		}
		&__box {
			width: 40%;
		}
	}
	.why-us {
		&__boxes {
			flex-wrap: wrap;
			flex-direction: row;
		}
		&__box {
			width: 27%;
		}
	}
	.reviews {
		&__boxes {
			flex-wrap: wrap;
			flex-direction: row;
		}
		&__box {
			width: 27%;
		}
	}
	.contact {
		&__boxes {
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-around;
		}
		&__box {
			width: 40%;
			&-info {
				flex-direction: column;
				&-details {
					margin: 0.5em;
				}
			}
			&-form {
				width: 40%;
			}
		}
	}
	.footer {
		&__boxes {
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
		}
		&__box {
			&-links {
				flex-direction: row;
				gap: 4em;
			}
		}
	}

	@media (min-width: 992px) {
		.mortgages {
			&__boxes {
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: space-evenly;
			}
			&__box {
				height: 480px;
				width: 27%;
			}
		}
		.why-us {
			&__box {
				height: 270px;
			}
		}
	}

	@media (min-width: 1300px) {
		.mortgages {
			&__box {
				height: 430px;
			}
		}
	}
}
